*{
    box-sizing: border-box;
}
body {
    background-color: white;
}
/* navigation style */ 

#mainnav {
    background-color: white;
    position:fixed;
    left: 82%;
    right:20px;
    padding:20px;
    width: 250px;
    border: 5px solid black;
}

#mainnav nav{
    position: relative;
    text-align: center;
    word-spacing: 5px;
}

#mainnav nav a {
    text-decoration: none;
}
/* introduction */ 

#introduction {
    color: rgb(187, 118, 130); 
    max-width:fit-content;
    position: relative;
    left: 40%;
}

#introduction:hover {
    color: black;
    text-decoration: underline;
    font-size: 30px;  
}

p{
    font-size: 20px;
    color:darkblue;
}
span {
    font-style: italic;
}

/* divs style */ 
#div1{
    border: 2px solid black;
    background-color: #b7b7a4;
    padding:10px;
}

#div2 {
    border: 2px solid black;
    background-color: #cb997e;
    padding:30px;
}
#div2:hover {
    background-color:white;
}

#maindiv3 {
    border: 2px solid black;
    background-color: #ffe8d6;
    padding:30px;
   
}

#maindiv3:hover {
    background-color:white;
}

#div4 {
    border: 2px solid black;
    background-color:#ddbea9;
    padding:30px;
}

#div4:hover {
    background-color:white;
}


#introdiv {
    text-align: center;
    margin-bottom: 50px;
}

a {
    color:purple;
}

#myfavthings {
    color: rgb(199, 14, 159);
}


#newsletter {
    color:rgb(100, 0, 70);
}

.list {
    font-size: 20px;
}

/* images */ 

.favfood{
    display: inline;
    width:40vw;   
  }
  
.picsaboutme {
    display: inline;
    width:40vw;
  }
  
#mypicture {
    border: 20px solid white;
    width: 20vw;
    min-width: fit-content;   
    position: relative;
    left:39%;
    right:39%;   
    margin-bottom: 40px;
}

#picturedr {
    border: 20px solid white;
    width: 40vw; 
    position:relative;
    left: 30%;
    right:30%;
}

.videos {
    display:inline;
}

#facts {
    font-style: italic;
}

#paragraphdr {
    color: black;
}

/* table style */ 

#table { 
    border-collapse: collapse;
    border: 2px solid black;
    letter-spacing:1px;
    position: relative;
    left: 60%;
    bottom: 130px;
    
}

th {
    border: 1px solid black;
    padding: 10px 20px;
}

td {
    border: 1px solid black;
    padding: 10px 20px;
}

#tableheading {
    position:relative;
    left:65%;
    bottom: 130px;
}



